#contact
    background-image: url(assets/20.png)
    background-color: #212529
    background-repeat: no-repeat
    background-position: center
    height: 640px
    h1
        font-size: 45px
        font-weight: 700
        color: #ffff
        margin-top: 60px
    h3
        font-size: 18px
        color: #697075
        margin: 20px 0
