footer
    .box
        display: flex
        padding: 15px 0
        h6
            font-size: 18px
            color: #595966
            word-spacing: 1px
        ul
            display: flex
            li
                font-size: 18px
                padding: 12px 15px
                margin: 0 10px
                color: #ffffff
                background-color: #212529
                border-radius: 50%

            &:hover
                li
                    cursor: pointer

        h5
            margin-right: 25px

        &:hover
            cursor: pointer
        













    // h6
    //     font-size: 17px
    //     padding: 13px 0
    //     color: #000000
    //     word-spacing: 1px
    // ul
    //     display: flex
    //     flex-direction: row
    //     justify-content: center
    //     align-items: center
    //     padding: 25px 0
    //     li
    //         font-size: 18px
    //         padding: 13px 15px
    //         margin: 0 10px
    //         color: #ffffff
    //         background-color: #212529
    //         border-radius: 50%
