header
    .menu
        background-color: #212529
        padding: 23px 0
        width: 100%
        position: fixed
        z-index: 1
        left: 0
        .imgbox
            width: 150px
            margin-right: 400px
        nav
            a
                font-size: 18px
                margin-left: 35px
                letter-spacing: 1px

            &:hover
                a
                    font-size: 18px
                    margin-left: 35px
                    letter-spacing: 1px
                    color: #e3ad11
                    cursor: pointer